* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("/assets/5532919.jpg")
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

.content h1{
    font-style: italic;
    text-align: center;
    color: white;
    font-family: 'Dancing Script', cursive;
    color: yellow;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}